In [2]:
## preps
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#specify your path
sys_path = "/Users/xli/Yelp/yelp_dataset"

In [3]:
# Load three pre-processed datasets: reviews data, business data for selected candidate cities

## The restaurants in the five candidate cities
restaurants_ = pd.read_csv("business_data_subset.csv", index_col= None)
### reviews in the top ten candidate cities
ratings_ = pd.read_csv("reviews_data_subset.csv")

In [4]:
## get a list of user ids that had reviews for our candidate cities
users_ids_subset = ratings_.user_id.unique().tolist()

In [7]:
user_data_samp = []
count = 0
count_cap = 1e9

with open("{0}/yelp_academic_dataset_user.json".format(sys_path)) as f:
    for line in f:
        if json.loads(line)["user_id"] in users_ids_subset:
            user_data_samp.append(json.loads(line))
        count+= 1
        if count > count_cap:
            break     
user_data_samp = pd.DataFrame.from_dict(user_data_samp)
user_data_samp.to_csv("user_data_subset.csv", index=None)

In [8]:
user_data_samp.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,2007-07-06 03:27:11,628,225,227,,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...",14,...,2,1,0,1,11,15,22,22,10,0
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,2008-04-28 01:29:25,790,316,400,"2008,2009,2010,2011,2012,2013","ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...",27,...,4,5,2,1,33,37,63,63,21,5
2,QaELAmRcDc5TfJEylaaP8g,John,206,2008-09-20 00:08:14,233,160,84,2009,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ...",6,...,1,0,0,0,7,14,7,7,2,0
3,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,1265,400,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018","3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",78,...,9,2,1,1,22,28,31,31,19,31
4,f4_MRNHvN-yRn7EA8YWRxg,Jennifer,822,2011-01-17 00:18:23,4127,2446,2878,"2011,2012,2013,2014,2015,2016,2017,2018","c-Dja5bexzEWBufNsHfRrQ, 02HJNyOzzYXvEKVApJb8GQ...",137,...,81,62,35,24,193,541,623,623,293,172