In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [2]:
data = pd.read_csv("../data/business_data_subset.csv")
data.head()

,business_id,business_name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,CsLQLiRoafpJPJSkNX2h5Q,Middle East Deli,4508 E Independence Blvd,Charlotte,NC,28205,35.194894,-80.767442,3.0,5,0,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...","Food, Restaurants, Grocery, Middle Eastern",NaN
1,vjTVxnsQEZ34XjYNS-XUpA,Wetzel's Pretzels,"4550 East Cactus Rd, #KSFC-4",Phoenix,AZ,85032,33.602822,-111.983533,4.0,10,1,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Food, Pretzels, Bakeries, Fast Food, Restaurants","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."
2,fnZrZlqW1Z8iWgTVDfv_MA,Carl's Jr,9595 W Tropicana Ave,Las Vegas,NV,89147,36.099738,-115.301568,2.5,15,0,"{'Alcohol': ""u'none'"", 'WiFi': ""u'no'"", 'GoodF...","Mexican, Restaurants, Fast Food",NaN
3,rVBPQdeayMYht4Uv_FOLHg,Gourmet Burger Company,843 Kipling Avenue,Toronto,ON,M8Z 5G9,43.633291,-79.531768,3.0,13,0,"{'RestaurantsPriceRange2': '2', 'RestaurantsAt...","Restaurants, Burgers, Food",NaN
4,fhNf_sg-XzZ3e7HEVGuOZg,Meat Chix And Wieners,6530 S Decatur Blvd,Las Vegas,NV,89118,36.071196,-115.207463,3.0,10,0,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Burgers, Restaurants, American (Traditional), ...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

### change dict attribute to dummy variable

attributes,hours,ambience

#### attributes

In [301]:
def convert_dict_into_dummy(data,feature):
    """
    First change feature values from str to dict, then create variables according to dict keys.
    return: dataframe with dict keys as columns
    """
    col_index = data.columns.get_loc(feature)
    get_dict = pd.Series(data.iloc[:,col_index].replace(np.nan,"None")).apply(eval)
    dummy_df = get_dict.replace("None",np.nan).apply(pd.Series)
    return dummy_df

In [288]:
attr = convert_dict_into_dummy(data,"attributes")
attr

,RestaurantsGoodForGroups,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsTakeOut,GoodForKids,BusinessParking,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsAttire,BikeParking,...,BYOBCorkage,CoatCheck,Corkage,BYOB,AgesAllowed,RestaurantsCounterService,DietaryRestrictions,Open24Hours,AcceptsInsurance,HairSpecializesIn
0,True,False,True,True,True,"{'garage': False, 'street': False, 'validated'...",1,False,u'casual',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,False,True,True,True,"{'garage': False, 'street': False, 'validated'...",1,False,u'casual',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,False,True,True,True,"{'garage': False, 'street': False, 'validated'...",1,False,u'casual',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,True,False,NaN,True,True,"{'garage': False, 'street': False, 'validated'...",2,False,u'casual',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,False,True,True,False,"{'garage': False, 'street': False, 'validated'...",2,False,u'casual',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24396,True,False,True,NaN,NaN,NaN,4,False,u'casual',NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24397,True,False,NaN,True,True,"{'garage': False, 'street': True, 'validated':...",1,False,u'casual',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24398,True,True,True,True,True,"{'garage': False, 'street': False, 'validated'...",2,False,u'casual',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24399,True,False,True,True,True,"{'garage': False, 'street': False, 'validated'...",1,False,u'casual',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24400,True,True,True,True,True,"{'garage': False, 'street': False, 'validated'...",2,False,u'casual',True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [289]:
attr.shape

(24401, 39)

#### ambience

In [290]:
ambience = convert_dict_into_dummy(attr,"Ambience")
ambience.head()

  romantic intimate touristy hipster  divey classy trendy upscale casual
0      NaN      NaN      NaN     NaN    NaN    NaN    NaN     NaN    NaN
1    False    False    False   False  False  False  False   False  False
2    False    False    False   False  False  False  False   False   True
3    False    False    False   False  False  False  False   False   True
4    False    False    False   False  False  False  False   False  False

In [291]:
# change column name
ambience.columns = ["Ambience_"+i for i in ambience.columns.tolist()]
# concat
attr = pd.concat([attr.drop(['Ambience'],1),ambience],axis=1)

#### goodformeal,BestNights

In [302]:
goodformeal = convert_dict_into_dummy(attr,"GoodForMeal")
goodformeal.head()

  dessert latenight lunch dinner brunch breakfast
0     NaN       NaN   NaN    NaN    NaN       NaN
1     NaN       NaN   NaN    NaN    NaN       NaN
2     NaN       NaN   NaN    NaN    NaN       NaN
3     NaN       NaN   NaN    NaN    NaN       NaN
4     NaN       NaN   NaN    NaN    NaN       NaN

### change dict into boolean variable

In [293]:
def convert_dict_into_boolean(data,feature,new_name):
    """
    For some features that have many nan, but still have several value, convert it into boolean.
    """
    col_index = data.columns.get_loc(feature)
    data[new_name] = False
    for i in range(len(data)):
        if pd.isna(data.iloc[i,col_index]):
            continue
        elif "True" in  data.iloc[i,col_index]:
            data.loc[i,new_name] = True
    
    return data

In [294]:
attr = convert_dict_into_boolean(attr,"BusinessParking","Parking")
attr = attr.drop("BusinessParking",axis=1)

attr = convert_dict_into_boolean(attr,"Music","music")
attr = attr.drop("Music",axis=1)

#### hours

In [183]:
hours = change_dict_to_dummy(data,"hours")
hours.head()

      Monday    Tuesday  Wednesday   Thursday     Friday   Saturday     Sunday
0        NaN        NaN        NaN        NaN        NaN        NaN        NaN
1  10:0-21:0  10:0-21:0  10:0-21:0  10:0-21:0  10:0-21:0  10:0-21:0  11:0-18:0
2        NaN        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN        NaN
4  11:0-22:0  11:0-22:0  11:0-22:0  11:0-22:0  11:0-22:0  11:0-22:0  11:0-22:0

In [184]:
hours.notnull()

       Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
0       False    False      False     False   False     False   False
1        True     True       True      True    True      True    True
2       False    False      False     False   False     False   False
3       False    False      False     False   False     False   False
4        True     True       True      True    True      True    True
...       ...      ...        ...       ...     ...       ...     ...
24396   False    False      False     False   False     False   False
24397   False    False      False     False   False     False   False
24398   False    False      False     False   False     False   False
24399    True     True       True      True    True      True    True
24400    True     True       True      True    True      True    True

[24401 rows x 7 columns]

### concatenate

In [250]:
bus_df = pd.concat([data.drop(['attributes','hours'],1),attr,hours.notnull()],axis=1)
bus_df.head()

,business_id,business_name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Ambience_upscale,Ambience_casual,Parking,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,CsLQLiRoafpJPJSkNX2h5Q,Middle East Deli,4508 E Independence Blvd,Charlotte,NC,28205,35.194894,-80.767442,3.0,5,...,NaN,NaN,False,False,False,False,False,False,False,False
1,vjTVxnsQEZ34XjYNS-XUpA,Wetzel's Pretzels,"4550 East Cactus Rd, #KSFC-4",Phoenix,AZ,85032,33.602822,-111.983533,4.0,10,...,False,False,True,True,True,True,True,True,True,True
2,fnZrZlqW1Z8iWgTVDfv_MA,Carl's Jr,9595 W Tropicana Ave,Las Vegas,NV,89147,36.099738,-115.301568,2.5,15,...,False,True,True,False,False,False,False,False,False,False
3,rVBPQdeayMYht4Uv_FOLHg,Gourmet Burger Company,843 Kipling Avenue,Toronto,ON,M8Z 5G9,43.633291,-79.531768,3.0,13,...,False,True,True,False,False,False,False,False,False,False
4,fhNf_sg-XzZ3e7HEVGuOZg,Meat Chix And Wieners,6530 S Decatur Blvd,Las Vegas,NV,89118,36.071196,-115.207463,3.0,10,...,False,False,False,True,True,True,True,True,True,True

#### clean data

In [253]:
def delete_u(data,feature):
    col_index = data.columns.get_loc(feature)
    values = data.iloc[:,col_index].value_counts().index
#     print(values)
    for i in values:
        if i == "None":
            data.iloc[:,col_index].replace("None",np.nan,inplace=True)
        else:
            data.iloc[:,col_index].replace(i,i.split("'")[1],inplace=True)
            # for Alcohol
            data.iloc[:,col_index].replace("none",np.nan,inplace=True)
    return data

In [254]:
for feature in ["RestaurantsAttire","Alcohol","NoiseLevel","Smoking","WiFi"]:
#     print(feature)
    bus_df = delete_u(bus_df,feature)

In [255]:
bus_df["RestaurantsAttire"].value_counts()

casual    18700
dressy      647
formal       32
Name: RestaurantsAttire, dtype: int64

#### drop

In [308]:
bus_df = bus_df.drop(["DietaryRestrictions","AgesAllowed","Open24Hours","AcceptsInsurance",
                      "HairSpecializesIn","BYOBCorkage"],axis=1)

In [309]:
bus_df.shape

(24401, 60)

In [310]:
bus_df = bus_df.replace('True',True)
bus_df = bus_df.replace('False',False)
bus_df = bus_df.replace('None', np.nan)

### impute missing value

use False to fillna

In [314]:
bus_df = bus_df.fillna(False)
bus_df = bus_df * 1

In [315]:
bus_df.describe()

,latitude,longitude,stars,review_count,is_open,RestaurantsGoodForGroups,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsTakeOut,GoodForKids,...,Ambience_upscale,Ambience_casual,Parking,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
count,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,...,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000,24401.000000
mean,38.079718,-97.581189,3.466559,118.165608,0.638744,0.724028,0.358551,0.607598,0.821032,0.675710,...,0.012499,0.388714,0.577968,0.730216,0.769968,0.784230,0.790910,0.793000,0.764313,0.679521
std,4.268676,17.015869,0.799736,291.744481,0.480374,0.447012,0.479585,0.488295,0.383333,0.468119,...,0.111102,0.487468,0.493894,0.443857,0.420861,0.411364,0.406667,0.405164,0.424436,0.466670
min,33.265577,-115.452994,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.061269,-115.118962,3.000000,11.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,36.124423,-111.908902,3.500000,35.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,43.653603,-79.413163,4.000000,109.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,43.876501,-79.137540,5.000000,10129.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [316]:
bus_df.columns

Index(['business_id', 'business_name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars', 'review_count',
       'is_open', 'categories', 'RestaurantsGoodForGroups', 'OutdoorSeating',
       'BusinessAcceptsCreditCards', 'RestaurantsTakeOut', 'GoodForKids',
       'RestaurantsPriceRange2', 'RestaurantsReservations',
       'RestaurantsAttire', 'BikeParking', 'Alcohol', 'RestaurantsDelivery',
       'HasTV', 'WiFi', 'Caters', 'NoiseLevel', 'GoodForMeal',
       'RestaurantsTableService', 'DriveThru', 'DogsAllowed',
       'ByAppointmentOnly', 'WheelchairAccessible', 'HappyHour',
       'BusinessAcceptsBitcoin', 'Music', 'BestNights', 'GoodForDancing',
       'Smoking', 'CoatCheck', 'Corkage', 'BYOB', 'RestaurantsCounterService',
       'Ambience_romantic', 'Ambience_intimate', 'Ambience_touristy',
       'Ambience_hipster', 'Ambience_divey', 'Ambience_classy',
       'Ambience_trendy', 'Ambience_upscale', 'Ambience_casual', 'Parking',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object')

## get cosine similarity

In [353]:
bus_df_clean = bus_df[bus_df["city"] == "Phoenix"][bus_df["review_count"]>=20]

<ipython-input-353-fbafe3aafe2b>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bus_df_clean = bus_df[bus_df["city"] == "Phoenix"][bus_df["review_count"]>=20]

In [363]:
bus_df_clean = bus_df_clean.reset_index(drop=True)

In [369]:
bus_matrix = np.array(bus_df_clean[bus_df_clean.describe().columns].drop(["latitude","longitude"],1))

In [370]:
similarity = bus_matrix@ bus_matrix.T

In [ ]:
review data: userid, busid, rating

### categories

In [333]:
cate_lst = {}
for i in bus_df["categories"].value_counts().index.tolist():
    i_lst = i.split(",")
    for j in i_lst:
        j = j.strip()
        cate_lst[j] = cate_lst.get(j,0)+1

In [338]:
sorted(cate_lst.items(), key=lambda x:x[1] )[::-1]

[('Restaurants', 15065),
 ('Food', 5961),
 ('Nightlife', 3683),
 ('Bars', 3514),
 ('American (Traditional)', 2254),
 ('Breakfast & Brunch', 2198),
 ('Sandwiches', 2188),
 ('American (New)', 1864),
 ('Fast Food', 1593),
 ('Burgers', 1391),
 ('Coffee & Tea', 1337),
 ('Pizza', 1267),
 ('Event Planning & Services', 1210),
 ('Mexican', 1176),
 ('Cafes', 1154),
 ('Salad', 1135),
 ('Italian', 1119),
 ('Seafood', 960),
 ('Specialty Food', 909),
 ('Chinese', 865),
 ('Asian Fusion', 861),
 ('Desserts', 841),
 ('Chicken Wings', 804),
 ('Caterers', 793),
 ('Japanese', 759),
 ('Bakeries', 713),
 ('Sports Bars', 708),
 ('Mediterranean', 647),
 ('Canadian (New)', 626),
 ('Vegetarian', 608),
 ('Cocktail Bars', 594),
 ('Sushi Bars', 588),
 ('Barbeque', 583),
 ('Juice Bars & Smoothies', 581),
 ('Pubs', 575),
 ('Delis', 570),
 ('Arts & Entertainment', 568),
 ('Wine & Spirits', 513),
 ('Beer', 513),
 ('Vegan', 507),
 ('Wine Bars', 495),
 ('Steakhouses', 483),
 ('Lounges', 468),
 ('Gluten-Free', 417),
 ('Middle Eastern', 415),
 ('Ice Cream & Frozen Yogurt', 387),
 ('Diners', 378),
 ('Food Trucks', 370),
 ('Comfort Food', 362),
 ('Indian', 353),
 ('Soup', 345),
 ('Thai', 338),
 ('Korean', 326),
 ('Ethnic Food', 319),
 ('Food Delivery Services', 302),
 ('Shopping', 301),
 ('Greek', 298),
 ('Tapas/Small Plates', 293),
 ('Southern', 279),
 ('French', 274),
 ('Latin American', 273),
 ('Hot Dogs', 266),
 ('Gastropubs', 264),
 ('Halal', 263),
 ('Buffets', 258),
 ('Tacos', 255),
 ('Venues & Event Spaces', 247),
 ('Vietnamese', 239),
 ('Grocery', 234),
 ('Chicken Shop', 233),
 ('Noodles', 223),
 ('Tapas Bars', 212),
 ('Hawaiian', 210),
 ('Food Stands', 204),
 ('Tex-Mex', 203),
 ('Hotels & Travel', 195),
 ('Caribbean', 193),
 ('Music Venues', 186),
 ('Local Flavor', 171),
 ('Bagels', 167),
 ('Beer Bar', 164),
 ('Hotels', 153),
 ('Soul Food', 152),
 ('Street Vendors', 150),
 ('Active Life', 137),
 ('Casinos', 136),
 ('Karaoke', 125),
 ('Pakistani', 123),
 ('Cajun/Creole', 122),
 ('Ramen', 122),
 ('Bubble Tea', 117),
 ('Food Court', 117),
 ('Spanish', 110),
 ('Dance Clubs', 106),
 ('Donuts', 105),
 ('Filipino', 105),
 ('Breweries', 104),
 ('Poke', 103),
 ('Dim Sum', 100),
 ('Dive Bars', 98),
 ('Creperies', 97),
 ('Fish & Chips', 96),
 ('Cheesesteaks', 93),
 ('Health Markets', 90),
 ('Taiwanese', 89),
 ('Tea Rooms', 88),
 ('Imported Food', 85),
 ('Modern European', 85),
 ('Persian/Iranian', 79),
 ('Kosher', 77),
 ('Party & Event Planning', 76),
 ('Wraps', 75),
 ('Meat Shops', 73),
 ('British', 70),
 ('Irish', 68),
 ('Hookah Bars', 67),
 ('Waffles', 67),
 ('Portuguese', 67),
 ('African', 65),
 ('Beauty & Spas', 63),
 ('Cantonese', 62),
 ('Falafel', 59),
 ('Convenience Stores', 55),
 ('Local Services', 54),
 ('Home Services', 54),
 ('Coffee Roasteries', 52),
 ('Acai Bowls', 51),
 ('Shaved Ice', 51),
 ('Poutineries', 51),
 ('Lebanese', 49),
 ('Do-It-Yourself Food', 47),
 ('Kebab', 46),
 ('Hot Pot', 46),
 ('Cuban', 46),
 ('Turkish', 46),
 ('Ethiopian', 46),
 ('Arcades', 45),
 ('Live/Raw Food', 44),
 ('Jazz & Blues', 44),
 ('Gelato', 43),
 ('Organic Stores', 43),
 ('Pasta Shops', 43),
 ('Afghan', 43),
 ('Internet Cafes', 40),
 ('New Mexican Cuisine', 39),
 ('Brazilian', 39),
 ('Automotive', 37),
 ('Patisserie/Cake Shop', 37),
 ('Butcher', 36),
 ('Shopping Centers', 36),
 ('German', 36),
 ('Salvadoran', 36),
 ('Peruvian', 36),
 ('Seafood Markets', 35),
 ('Pool Halls', 35),
 ('Health & Medical', 35),
 ('Professional Services', 35),
 ('Bistros', 35),
 ('Fashion', 34),
 ('Szechuan', 34),
 ('Performing Arts', 33),
 ('Farmers Market', 33),
 ('Polish', 33),
 ('Golf', 32),
 ('Chocolatiers & Shops', 32),
 ('International Grocery', 31),
 ('Custom Cakes', 31),
 ('Personal Chefs', 31),
 ('Home & Garden', 31),
 ('Brasseries', 31),
 ('Pan Asian', 31),
 ('Flowers & Gifts', 30),
 ('Fruits & Veggies', 30),
 ('Cheese Shops', 30),
 ('Irish Pub', 30),
 ('Education', 30),
 ('Delicatessen', 29),
 ('Art Galleries', 29),
 ('Malaysian', 28),
 ('Himalayan/Nepalese', 28),
 ('Festivals', 27),
 ('Beer Gardens', 27),
 ('Day Spas', 27),
 ('Russian', 27),
 ('Resorts', 26),
 ('Brewpubs', 25),
 ('Adult Entertainment', 25),
 ('Smokehouse', 25),
 ('Cupcakes', 25),
 ('Teppanyaki', 24),
 ('Candy Stores', 24),
 ('Pretzels', 24),
 ('Argentine', 24),
 ('Whiskey Bars', 22),
 ('Wedding Planning', 22),
 ('Arabian', 21),
 ('Social Clubs', 21),
 ('Moroccan', 21),
 ('Music & Video', 20),
 ('Mags', 20),
 ('Books', 20),
 ('Izakaya', 20),
 ('Pets', 20),
 ('Colombian', 20),
 ('Belgian', 19),
 ('Gay Bars', 18),
 ('International', 18),
 ('Gas Stations', 18),
 ('Wineries', 18),
 ('Hakka', 18),
 ('Cafeteria', 18),
 ('Mongolian', 17),
 ('Amusement Parks', 17),
 ('Puerto Rican', 17),
 ('Hair Salons', 17),
 ('Arts & Crafts', 17),
 ('Fondue', 16),
 ('Fitness & Instruction', 16),
 ('Basque', 16),
 ('Sri Lankan', 16),
 ('Specialty Schools', 15),
 ('Themed Cafes', 15),
 ('Real Estate', 15),
 ('Bangladeshi', 15),
 ('Bowling', 14),
 ('Laotian', 14),
 ('Comedy Clubs', 14),
 ('Cinema', 14),
 ('Ukrainian', 14),
 ('Venezuelan', 14),
 ('Indoor Playcentre', 13),
 ('Gift Shops', 13),
 ('Tours', 13),
 ('Drugstores', 13),
 ('Public Services & Government', 13),
 ('Wigs', 13),
 ('Kids Activities', 13),
 ('Singaporean', 12),
 ('Donairs', 12),
 ('Dinner Theater', 12),
 ('Appliances', 12),
 ('Hungarian', 12),
 ('South African', 11),
 ('Pop-Up Restaurants', 11),
 ('Swimming Pools', 11),
 ('Department Stores', 11),
 ('Cosmetics & Beauty Supply', 11),
 ('Tiki Bars', 10),
 ('Ethnic Grocery', 10),
 ('Home Cleaning', 10),
 ('Cooking Classes', 10),
 ('Sporting Goods', 10),
 ('Beverage Store', 10),
 ('Dominican', 10),
 ('Japanese Curry', 10),
 ('Indonesian', 10),
 ('Nail Salons', 10),
 ('Massage', 10),
 ("Women's Clothing", 9),
 ('Bookstores', 9),
 ('Cooking Schools', 9),
 ('Hong Kong Style Cafe', 9),
 ('Macarons', 9),
 ('Furniture Stores', 9),
 ('Florists', 9),
 ('Appliances & Repair', 9),
 ('Wholesale Stores', 9),
 ('Public Markets', 9),
 ('Kitchen & Bath', 8),
 ('Playgrounds', 8),
 ('Shanghainese', 8),
 ('Bed & Breakfast', 8),
 ('Country Clubs', 8),
 ('Nutritionists', 8),
 ('Tabletop Games', 8),
 ('Community Service/Non-Profit', 8),
 ('Speakeasies', 8),
 ('Coffee & Tea Supplies', 8),
 ('Hobby Shops', 8),
 ('Conveyor Belt Sushi', 8),
 ('Real Estate Services', 7),
 ('Empanadas', 7),
 ('Yelp Events', 7),
 ('Honduran', 7),
 ('Plumbing', 7),
 ('Contractors', 7),
 ('Personal Shopping', 7),
 ('Piano Bars', 7),
 ('Tobacco Shops', 7),
 ('Auto Repair', 7),
 ('Food Tours', 7),
 ('Religious Organizations', 7),
 ('Pet Services', 7),
 ('Scandinavian', 7),
 ('Skin Care', 7),
 ('Art Classes', 7),
 ('Stadiums & Arenas', 6),
 ('Home Decor', 6),
 ('Yoga', 6),
 ('Ethical Grocery', 6),
 ('Sports Wear', 6),
 ("Men's Clothing", 6),
 ('Australian', 6),
 ('Dumplings', 6),
 ('Car Wash', 6),
 ('Country Dance Halls', 6),
 ('Herbs & Spices', 6),
 ('Cabaret', 6),
 ('Party Supplies', 6),
 ('Gyms', 6),
 ('Pet Stores', 6),
 ('Pancakes', 6),
 ('Wholesalers', 6),
 ('Hair Removal', 6),
 ('Grilling Equipment', 5),
 ('Jewelry', 5),
 ('Recreation Centers', 5),
 ('Barbers', 5),
 ('Antiques', 5),
 ('Vinyl Records', 5),
 ('Champagne Bars', 5),
 ('Interior Design', 5),
 ('Weight Loss Centers', 5),
 ('Toy Stores', 5),
 ('DJs', 5),
 ('Shaved Snow', 5),
 ('Musicians', 5),
 ('Hospitals', 5),
 ('Egyptian', 5),
 ('Doctors', 5),
 ('Airports', 5),
 ('Restaurant Supplies', 5),
 ('Party Equipment Rentals', 5),
 ('Outlet Stores', 5),
 ('Wine Tasting Room', 4),
 ('Haitian', 4),
 ('Bartenders', 4),
 ('Accessories', 4),
 ('Financial Services', 4),
 ('Vitamins & Supplements', 4),
 ('Movers', 4),
 ('Transportation', 4),
 ('Limos', 4),
 ('Office Cleaning', 4),
 ('Sports Clubs', 4),
 ('Syrian', 4),
 ('Tuscan', 4),
 ('Pub Food', 4),
 ('Couriers & Delivery Services', 4),
 ('Cambodian', 4),
 ('Museums', 4),
 ('Dry Cleaning & Laundry', 4),
 ('Pop-up Shops', 4),
 ('Churches', 4),
 ('Auto Parts & Supplies', 4),
 ('Burmese', 4),
 ('Waxing', 4),
 ('Armenian', 4),
 ('Window Washing', 3),
 ('Cideries', 3),
 ('Distilleries', 3),
 ('Outdoor Furniture Stores', 3),
 ('Coffeeshops', 3),
 ('Veterinarians', 3),
 ('Eatertainment', 3),
 ('Colleges & Universities', 3),
 ('Trinidadian', 3),
 ('Real Estate Agents', 3),
 ('Souvenir Shops', 3),
 ('Kombucha', 3),
 ('Personal Assistants', 3),
 ('Fireplace Services', 3),
 ('Czech', 3),
 ('Walking Tours', 3),
 ('Travel Services', 3),
 ('Ticket Sales', 3),
 ('Team Building Activities', 3),
 ('Art Schools', 3),
 ('Nicaraguan', 3),
 ('Supper Clubs', 3),
 ('Auto Customization', 3),
 ('Nail Technicians', 3),
 ('Eyelash Service', 3),
 ('Pool & Billiards', 3),
 ('Pet Adoption', 3),
 ('Landmarks & Historical Buildings', 3),
 ('Strip Clubs', 3),
 ('Auto Glass Services', 3),
 ('Roofing', 3),
 ('Animal Shelters', 3),
 ('Pharmacy', 3),
 ('Heating & Air Conditioning/HVAC', 3),
 ('Bar Crawl', 3),
 ('Austrian', 3),
 ('Discount Store', 3),
 ('Massage Therapy', 3),
 ('Hair Stylists', 3),
 ('Hair Extensions', 3),
 ('Business Consulting', 3),
 ('Scottish', 3),
 ('Marketing', 2),
 ('Carpet Cleaning', 2),
 ('Tanning', 2),
 ('Spray Tanning', 2),
 ('Parks', 2),
 ('Bankruptcy Law', 2),
 ('Lawyers', 2),
 ('Supernatural Readings', 2),
 ('Hotel bar', 2),
 ('Iberian', 2),
 ('Cultural Center', 2),
 ('Zoos', 2),
 ('Reflexology', 2),
 ('Tiling', 2),
 ('Meditation Centers', 2),
 ('Wedding Chapels', 2),
 ('Trophy Shops', 2),
 ('Horse Racing', 2),
 ('Medical Centers', 2),
 ('RV Repair', 2),
 ('Beer Garden', 2),
 ('Videos & Video Game Rental', 2),
 ('Physical Therapy', 2),
 ('Mailbox Centers', 2),
 ('Race Tracks', 2),
 ('Building Supplies', 2),
 ('Slovakian', 2),
 ('Eyebrow Services', 2),
 ('Makeup Artists', 2),
 ('Furniture Reupholstery', 2),
 ('Airport Lounges', 2),
 ('Accountants', 2),
 ('Dance Studios', 2),
 ('Packing Services', 2),
 ('Self Storage', 2),
 ('Head Shops', 2),
 ('Hostels', 2),
 ('Laundry Services', 2),
 ('Party Bus Rentals', 2),
 ('Trainers', 2),
 ('Martial Arts', 2),
 ('Trampoline Parks', 2),
 ('Beach Bars', 2),
 ('Cards & Stationery', 2),
 ('Popcorn Shops', 2),
 ('Escape Games', 2),
 ('Guamanian', 2),
 ('Air Duct Cleaning', 2),
 ('Shared Office Spaces', 2),
 ('Local Fish Stores', 2),
 ('Auto Detailing', 2),
 ('Special Education', 2),
 ('Paint & Sip', 2),
 ('Eritrean', 2),
 ('Summer Camps', 2),
 ('IT Services & Computer Repair', 2),
 ('Uzbek', 2),
 ('Vehicle Wraps', 2),
 ('Windshield Installation & Repair', 2),
 ('Car Window Tinting', 2),
 ('Bikes', 2),
 ('Masonry/Concrete', 2),
 ('Flooring', 2),
 ('Medical Spas', 2),
 ('Rehabilitation Center', 2),
 ('Libraries', 2),
 ('Historical Tours', 2),
 ('Amateur Sports Teams', 2),
 ('Electronics', 2),
 ('Pilates', 2),
 ('Community Centers', 2),
 ('Apartments', 2),
 ('Sicilian', 2),
 ('Pet Sitting', 2),
 ('Dentists', 2),
 ('Laser Hair Removal', 2),
 ('Blow Dry/Out Services', 2),
 ('Security Systems', 2),
 ('Electricians', 2),
 ('Commercial Truck Repair', 1),
 ('Truck Rental', 1),
 ('Body Shops', 1),
 ('Insurance', 1),
 ('Oil Change Stations', 1),
 ('Towing', 1),
 ('Auto Insurance', 1),
 ('Transmission Repair', 1),
 ('Tennis', 1),
 ('Comic Books', 1),
 ('Unofficial Yelp Events', 1),
 ('Bounce House Rentals', 1),
 ('Golf Equipment', 1),
 ('Kiosk', 1),
 ('Musical Instruments & Teachers', 1),
 ('Oaxacan', 1),
 ('Street Art', 1),
 ('Herbal Shops', 1),
 ('Minho', 1),
 ('General Dentistry', 1),
 ('Handyman', 1),
 ('Painters', 1),
 ('Drywall Installation & Repair', 1),
 ('Tanning Beds', 1),
 ('Screen Printing', 1),
 ('Printing Services', 1),
 ('Web Design', 1),
 ('Occupational Therapy', 1),
 ('Acupuncture', 1),
 ('Videographers', 1),
 ('Session Photography', 1),
 ('Event Photography', 1),
 ('Photographers', 1),
 ('Video/Film Production', 1),
 ('Graphic Design', 1),
 ('Club Crawl', 1),
 ('Home Organization', 1),
 ('Skydiving', 1),
 ('Psychics', 1),
 ('Soba', 1),
 ('Mobile Phones', 1),
 ('Commercial Real Estate', 1),
 ('Investing', 1),
 ('Magicians', 1),
 ('Property Management', 1),
 ('Customized Merchandise', 1),
 ('Pest Control', 1),
 ('Wildlife Control', 1),
 ('Hainan', 1),
 ('Family Practice', 1),
 ('Septic Services', 1),
 ('Water Heater Installation/Repair', 1),
 ('Grill Services', 1),
 ('Airport Terminals', 1),
 ('Airsoft', 1),
 ('Aircraft Repairs', 1),
 ('Mosques', 1),
 ('Personal Injury Law', 1),
 ('Immigration Law', 1),
 ('Divorce & Family Law', 1),
 ('Music & DVDs', 1),
 ('Art Museums', 1),
 ('Tax Services', 1),
 ('Game Meat', 1),
 ('Newspapers & Magazines', 1),
 ('Employment Agencies', 1),
 ('Baby Gear & Furniture', 1),
 ('Video Game Stores', 1),
 ('Acne Treatment', 1),
 ('LAN Centers', 1),
 ('Laundromat', 1),
 ('Rotisserie Chicken', 1),
 ('Botanical Gardens', 1),
 ('Tickets', 1),
 ('Lawn Services', 1),
 ('Gardeners', 1),
 ('Irrigation', 1),
 ('Landscaping', 1),
 ('Tree Services', 1),
 ('Landscape Architects', 1),
 ('Adult Education', 1),
 ('Health Retreats', 1),
 ('Mortgage Brokers', 1),
 ('Churros', 1),
 ('Udon', 1),
 ('Bingo Halls', 1),
 ('Hats', 1),
 ('Candle Stores', 1),
 ('Grout Services', 1),
 ('Refinishing Services', 1),
 ('Water Stores', 1),
 ('Pediatricians', 1),
 ('Emergency Medicine', 1),
 ('Cardiologists', 1),
 ('Beer Hall', 1),
 ('Alternative Medicine', 1),
 ('Catalan', 1),
 ('Swimwear', 1),
 ('Surf Schools', 1),
 ('Swiss Food', 1),
 ('Feng Shui', 1),
 ('Engraving', 1),
 ('Service Stations', 1),
 ('Motorcycle Repair', 1),
 ('Auto Upholstery', 1),
 ('Radio Stations', 1),
 ('Mass Media', 1),
 ('Polynesian', 1),
 ('Vape Shops', 1),
 ('Land Surveying', 1),
 ('Tattoo Removal', 1),
 ('Boxing', 1),
 ('Shipping Centers', 1),
 ('Archery', 1),
 ('Go Karts', 1),
 ('Hair Loss Centers', 1),
 ('Home Staging', 1),
 ('Bulgarian', 1),
 ('Police Departments', 1),
 ('Cannabis Dispensaries', 1),
 ('Tai Chi', 1),
 ('Bocce Ball', 1),
 ('Golf Lessons', 1),
 ('Shoe Stores', 1),
 ('Banks & Credit Unions', 1),
 ('Gun/Rifle Ranges', 1),
 ('Pet Groomers', 1),
 ('Security Services', 1),
 ('Dry Cleaning', 1),
 ('Car Rental', 1),
 ('Airport Shuttles', 1),
 ('Beaches', 1),
 ('Brazilian Jiu-jitsu', 1),
 ('Czech/Slovakian', 1),
 ('Laser Tag', 1),
 ('Climbing', 1),
 ('Commercial Truck Dealers', 1),
 ('Metal Fabricators', 1),
 ('Parenting Classes', 1),
 ('Windows Installation', 1),
 ('Siding', 1),
 ('Drive-Thru Bars', 1),
 ('Photography Stores & Services', 1),
 ('Car Dealers', 1),
 ('Fire Protection Services', 1),
 ('Balloon Services', 1),
 ('RV Parks', 1),
 ('Signmaking', 1),
 ('Aquariums', 1),
 ('Aquarium Services', 1),
 ('Pressure Washers', 1),
 ('Skating Rinks', 1),
 ('Milkshake Bars', 1),
 ('Honey', 1),
 ('Mobile Phone Repair', 1),
 ('Life Coach', 1),
 ('Spiritual Shop', 1),
 ('Farms', 1),
 ('Home Window Tinting', 1),
 ('Post Offices', 1),
 ('Bike Repair/Maintenance', 1),
 ('Cannabis Clinics', 1),
 ('Damage Restoration', 1),
 ('Home Inspectors', 1),
 ('Tires', 1),
 ('Thrift Stores', 1),
 ('Guest Houses', 1),
 ('Golf Equipment Shops', 1),
 ('Photo Booth Rentals', 1),
 ('Furniture Rental', 1),
 ('Audio/Visual Equipment Rental', 1),
 ('Furniture Repair', 1),
 ('Ice Delivery', 1),
 ('Lighting Fixtures & Equipment', 1),
 ('Fur Clothing', 1),
 ('Dog Walkers', 1),
 ('Pet Boarding', 1),
 ('Cosmetic Dentists', 1),
 ('Pool & Hot Tub Service', 1),
 ('Office Equipment', 1),
 ('Chimney Cakes', 1),
 ('Reunion', 1),
 ('Wine Tasting Classes', 1),
 ('Tasting Classes', 1),
 ('Courthouses', 1),
 ('Paint-Your-Own Pottery', 1),
 ('Art Supplies', 1),
 ('Studio Taping', 1)]

In [373]:
# more than 100
place = ['American (Traditional)','American (New)','Mexican','Italian','Chinese','Asian Fusion','Japanese',
'Mediterranean','Canadian (New)','Middle Eastern','Indian','Thai','Korean','Greek','Southern',
'French','Latin American','Vietnamese','Hawaiian','Tex-Mex','Caribbean','Pakistani','Spanish','Filipino']

# 'Taiwanese','Modern European','Persian/Iranian','British','Irish','Portuguese','African','Cantonese'

In [380]:
bus_df["category_place"] = ""
bus_df["category_type"] = ""
for i in range(len(bus_df)):
    cate = bus_df.loc[i,"categories"].split(",")
    for j in cate:
        j = j.strip()
        if j == "Restaurants":
            continue
        if j in place:
            bus_df.loc[i,"category_place"] = j
        else:
            bus_df.loc[i,"category_type"] = j

In [381]:
bus_df

,business_id,business_name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Parking,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,category_place,category_type
0,CsLQLiRoafpJPJSkNX2h5Q,Middle East Deli,4508 E Independence Blvd,Charlotte,NC,28205,35.194894,-80.767442,3.0,5,...,0,0,0,0,0,0,0,0,Middle Eastern,Grocery
1,vjTVxnsQEZ34XjYNS-XUpA,Wetzel's Pretzels,"4550 East Cactus Rd, #KSFC-4",Phoenix,AZ,85032,33.602822,-111.983533,4.0,10,...,1,1,1,1,1,1,1,1,,Fast Food
2,fnZrZlqW1Z8iWgTVDfv_MA,Carl's Jr,9595 W Tropicana Ave,Las Vegas,NV,89147,36.099738,-115.301568,2.5,15,...,1,0,0,0,0,0,0,0,Mexican,Fast Food
3,rVBPQdeayMYht4Uv_FOLHg,Gourmet Burger Company,843 Kipling Avenue,Toronto,ON,M8Z 5G9,43.633291,-79.531768,3.0,13,...,1,0,0,0,0,0,0,0,,Food
4,fhNf_sg-XzZ3e7HEVGuOZg,Meat Chix And Wieners,6530 S Decatur Blvd,Las Vegas,NV,89118,36.071196,-115.207463,3.0,10,...,0,1,1,1,1,1,1,1,American (Traditional),Chicken Wings
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24396,wjZ12shpUWAy4Boy0G5z1g,Island Buffet,"Tropicana Resort and Casino, 3801 Las Vegas Bl...",Las Vegas,NV,89109,36.099378,-115.171028,1.5,9,...,0,0,0,0,0,0,0,0,,Buffets
24397,n2BKYb8aw4AhRKLkdUjQRg,Steak & Cheese & Quick Pita Restaurant,199 College St,Toronto,ON,M5T 1P9,43.658683,-79.395071,2.5,21,...,1,0,0,0,0,0,0,0,,Sandwiches
24398,YZeUH6zYS0dq5QHLYZhUnQ,Hooters,2820 N 75th Ave,Phoenix,AZ,85035,33.479139,-112.221142,2.0,106,...,1,0,0,0,0,0,0,0,American (Traditional),Bars
24399,hskVqZCPqy-omm9CHi44xQ,Domino's,"6420 Rea Rd, Suite B1",Charlotte,NC,28226,35.078538,-80.818358,2.0,16,...,1,1,1,1,1,1,1,1,,Chicken Wings
24400,SYa2j1boLF8DcGVOYfHPcA,Five Guys,7014-590 E Camelback Rd,Scottsdale,AZ,85251,33.504062,-111.929431,3.5,97,...,1,1,1,1,1,1,1,1,American (New),Fast Food