# Yelp data EDA - Xinli

In [39]:
import json
import numpy as np
import pandas as pd
from tqdm import tqdm

## 1. Data loading

### loading bussiness data

In [5]:
bus_df = pd.read_json('yelp_dataset/yelp_academic_dataset_business.json',orient='records',lines=True)
bus_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [19]:
attributes = bus_df['attributes'].apply(pd.Series)
hours = bus_df['hours'].apply(pd.Series)

In [20]:
bus_df = pd.concat([bus_df.drop(['attributes','hours'],1),attributes,hours],axis=1)
bus_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,AgesAllowed,RestaurantsCounterService,Open24Hours,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,...,NaN,NaN,NaN,10:0-18:0,11:0-20:0,10:0-18:0,11:0-20:0,11:0-20:0,11:0-20:0,13:0-18:0
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,...,NaN,NaN,NaN,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,NaN,NaN
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,...,NaN,NaN,NaN,0:0-0:0,9:0-16:0,9:0-16:0,9:0-16:0,9:0-16:0,NaN,NaN

In [50]:
bus_df[bus_df['categories'].notnull()]['categories']

0         Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...
1         Health & Medical, Fitness & Instruction, Yoga,...
2                          Pets, Pet Services, Pet Groomers
3         Hardware Stores, Home Services, Building Suppl...
4         Home Services, Plumbing, Electricians, Handyma...
                                ...
209388                    Japanese, Sushi Bars, Restaurants
209389    Department Stores, Food, Mobile Phones, Fashio...
209390    American (New), Food, Burgers, Restaurants, Fa...
209391                     Pet Services, Pet Training, Pets
209392    Tax Services, Professional Services, Accountan...
Name: categories, Length: 208869, dtype: object

In [52]:
bus_df.to_csv('business_df_cleaned.csv')

In [33]:
bus_df = pd.read_csv('business_df_cleaned.csv',index_col=0)
bus_df.head()

/Users/guxinli/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,AgesAllowed,RestaurantsCounterService,Open24Hours,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,...,NaN,NaN,NaN,10:0-18:0,11:0-20:0,10:0-18:0,11:0-20:0,11:0-20:0,11:0-20:0,13:0-18:0
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,...,NaN,NaN,NaN,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,NaN,NaN
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726649,4.5,26,...,NaN,NaN,NaN,0:0-0:0,9:0-16:0,9:0-16:0,9:0-16:0,9:0-16:0,NaN,NaN

remove businesses whose ``categories`` is null

In [34]:
bus_df = bus_df[bus_df['categories'].notnull()]

In [35]:
bus_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,AgesAllowed,RestaurantsCounterService,Open24Hours,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,...,NaN,NaN,NaN,10:0-18:0,11:0-20:0,10:0-18:0,11:0-20:0,11:0-20:0,11:0-20:0,13:0-18:0
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,...,NaN,NaN,NaN,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,7:0-16:0,NaN,NaN
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726649,4.5,26,...,NaN,NaN,NaN,0:0-0:0,9:0-16:0,9:0-16:0,9:0-16:0,9:0-16:0,NaN,NaN

In [19]:
bus_df['categories'] = bus_df['categories'].apply(lambda x: x.split(', '))
bus_df['categories']

0         [Active Life, Gun/Rifle Ranges, Guns & Ammo, S...
1         [Health & Medical, Fitness & Instruction, Yoga...
2                        [Pets, Pet Services, Pet Groomers]
3         [Hardware Stores, Home Services, Building Supp...
4         [Home Services, Plumbing, Electricians, Handym...
                                ...
209388                  [Japanese, Sushi Bars, Restaurants]
209389    [Department Stores, Food, Mobile Phones, Fashi...
209390    [American (New), Food, Burgers, Restaurants, F...
209391                   [Pet Services, Pet Training, Pets]
209392    [Tax Services, Professional Services, Accounta...
Name: categories, Length: 208869, dtype: object

In [24]:
x1 = bus_df['categories'][209391]
x1 = ['']+x1
x1

['', 'Pet Services', 'Pet Training', 'Pets']

### loading review data

In [40]:
#adopting methods from website
line_count = len(open("yelp_dataset/yelp_academic_dataset_review.json").readlines())
user_ids, business_ids, stars, dates, texts = [], [], [], [], []
with open("yelp_dataset/yelp_academic_dataset_business.json") as f:
    for line in tqdm(f, total=line_count):
        blob = json.loads(line)
        user_ids += [blob["user_id"]]
        business_ids += [blob["business_id"]]
        stars += [blob["stars"]]
        dates += [blob["date"]]
        texts += [blob["text"]]
ratings_ = pd.DataFrame(
    {"user_id": user_ids, "business_id": business_ids, "rating": stars, "date": dates, "text": texts}
)

  0%|          | 0/8021122 [00:00<?, ?it/s]

KeyError: 'user_id'